h1 {
    padding-top: 30px;
}

.hpad {
    padding-top: 2em;
}



#avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 200px;
}

.text-justified {
    text-align: justify;
}

#pointless {
    list-style-type: none;
}